.site-header {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    align-items: center;

    background-color: darkgreen;
    padding: 5px 15px;
    color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px rgba(19, 18, 18, 0.3);
}

.logo {
    font-size: 20px;
    border: 5px ridge white;
    padding: 5px 15px;
    text-align: left;
    width: fit-content;
}

.slogan {
    text-align: center;
    font-size: 32px;
    color: aquamarine;
}

.menu {
  text-align: right;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

.menu a:hover {
  color: lightgreen;
}

.content {
  background-color: beige;
  padding: 30px 100px;
  font-size: 16px;
}

.content h1 {
  text-align: center;
  color: rgb(255, 0, 0);
  margin-bottom: 30px;
}

.hero {
  width: 100%;
  margin-bottom: 50px;
}

.footer {
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}


.schedule-table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
  table-layout: fixed;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.schedule-table th {
  background-color: black;
  color: white;
}

.treatment-grid {
  display: grid;
  grid-template-columns: 6fr 3fr 3fr;
  gap: 20px;
}

.box {
  border: 2px solid black;
  padding: 15px;
}

.box img {
  width: 100%;
}

.box h3{
  text-align: center;
}

.box p {
  text-align: center;
}

.respond {
margin-bottom:50px ;
}

.feedback {
margin-bottom: 15px;
color: red
}

